/*hi*/

html {
    background-color: black;
}

p {
    color: darkgreen;
}

#HiText {
    text-align: center;
    color: darkgreen;
}

#1para {
    text-align: center;
}

#2para {
    text-align: center;

}

#3para {
    text-align: center;
}


